<app-loader [id]=" 'createPhase' "></app-loader>
<app-header label="Create Phase"></app-header>
<div>
    <div class="b3 bc-p div-box-shadow m-auto phase b-l">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class=" m-4 ">
            <div class="g-form phaseForm">
                <label for="" class="tc-p t-10">Phase Title</label>
                <input type="text" class="b2 bc-p tc-b t-15" placeholder="Enter Name"
                    [ngClass]=" {'bc-s': (f.title.touched && f.title.invalid), 'b1': (f.title.touched && f.title.invalid)}"
                    formControlName="title" />
                <div *ngIf="f.title.touched && f.title.invalid" class="b1 bc-s tc-s p-2 inputErrorBox">
                    <div *ngIf="f.title.errors.required" class="tc-s heading-5">Phase Title is required</div>
                </div>
            </div>
        </div>
    
        <div class=" m-4 ">
            <div class="g-form phaseForm">
                <label for="" class="tc-p t-10">Phase Description </label>
                <input type="text" class="b2 bc-p tc-b t-15" placeholder="Enter Description" formControlName="description"
                    [ngClass]=" {'bc-s': (f.description.touched && f.description.invalid), 'b1': (f.description.touched && f.description.invalid)}" />
                <div *ngIf="f.description.touched && f.description.invalid" class="b1 bc-s tc-s p-2 inputErrorBox">
                    <div *ngIf="f.description.errors.required" class="tc-s heading-5">Phase Description is required</div>
                    <div *ngIf="f.description.errors.minlength" class="tc-s heading-5">Phase Description should have min
                        20 charcter</div>
                </div>
            </div>
        </div>
        <div class=" m-4 ">
            <div class="g-form phaseForm">
                <label for="" class="tc-p t-10">Start Date</label>
                <input type="date" class="b2 bc-p tc-b t-15" placeholder="Select Date" formControlName="startDate"
                    [ngClass]=" {'bc-s': (f.startDate.touched && f.startDate.invalid), 'b1': (f.startDate.touched && f.startDate.invalid)}" />
                <div *ngIf="f.startDate.touched && f.startDate.invalid" class="b1 bc-s tc-s p-2 inputErrorBox">
                    <div *ngIf="f.startDate.errors.required" class="tc-s heading-5 ">Start Date is required</div>
                </div>
            </div>
        </div>
        <div class=" m-4 ">
            <div class="g-form phaseForm">
                <label for="" class="tc-p t-10">End Date</label>
                <input type="date" class="b2 bc-p tc-b t-15" placeholder="Select Date" formControlName="endDate"
                    [ngClass]=" {'bc-s': (f.endDate.touched && f.endDate.invalid), 'b1': (f.endDate.touched && f.endDate.invalid)}" />
                <div *ngIf="f.endDate.touched && f.endDate.invalid" class="b1 bc-s tc-s p-2 inputErrorBox">
                    <div *ngIf="f.endDate.errors.required" class="tc-s heading-5 ">End Date is required</div>
                </div>
            </div>
        </div>

        <div class="m-auto text-center">
            <button type="submit" class="btn-sr m-4 b-p t-15 f-wm letter-space-1" [disabled]="!form.valid">
                CREATE PHASE
            </button>
        </div>
    </form>
    </div>