<div class="container">
  <app-loader [id]="'landing'"></app-loader>
  <div class="ml-3" *ngIf="showGoals">
    <pre>Displaying goals</pre>
  </div>
  <div class="div-box-shadow b2 bc-s goals__emptyBox " *ngIf="!showGoals">
    <div class="d-flex dSmBlock justify-content-between ">
     <div class="p-5 min-w-300">
      <div class="heading-3 f-wm text-center">
        “Without goal in a life is like with
        Destination plane is flying”
      </div>

    </div>
    <div>
      <img src="assets/noGoal.svg" alt="" class="goal-img home_ImgaeEmpty" />
    </div>
  </div>
    </div>
        <div class="text-center mt-4  ">
          <button class="btn-sr m-4 b-p" [routerLink]="['/CreateGoal']">
            CREATE GOAL
          </button>
        </div>
</div>