<div class="container toolbar">
  <app-loader [id]=" 'home' "></app-loader>

  <div class="m-4 b-l div-box-shadow">
    <div class="d-flex dSmBlock justify-content-between ">
      <div class="mt-5 ml-4">
        <section class="heading-1">
          “All who have accomplished
          great things in life had great
          <span class="tc-p">GOAL.</span>”
        </section>
        <p class="heading-3 tc-gl mt-3">
          GOAL.io provides you feature to create a
          Goal and help you to complete it by using
        </p>
        <ul class="feature">
          <li>Anaylse it</li>
          <li>Add Milestones</li>
          <li>Share on Competion</li>
          <li>Track It</li>
          <li>Add Timeline</li>

        </ul>
        <section>

        </section>

      </div>


      <div>
        <img src="../../assets/achievement.svg" alt="achievement " class="goal-img" />

      </div>
    </div>


    <div class="d-flex dSmBlock justify-content-between ">
      <button type="submit" class="btn-mr m-4 b-s t-15 f-wm letter-space-1 ml-2">
        DEMO
      </button>
      <button type="submit" [routerLink]="['/SignUp']" class="btn-mr m-4 b-p t-15 f-wm letter-space-1">
        SIGN UP
      </button>

    </div>