.landing__header{
    margin-top:10%;
    margin-left:1rem;
}
.landing_noAchievement_header{
color: red;
    font-size: 1.3rem;
    padding: 10px;
}

   .landing_noAchievement{ max-width: 500px;
    margin: auto;
    margin-top: 57px;
   }

   .achievemet_card {max-width: 300px;
    background: #2b302b;
    color: #e7e6e4;
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
   }

   .achieve_label{
       color :gray;
   }
   .achieve_lines{
       
   }