
     
   <div class="d-flex m-auto text-center br-b b2 bc-p">
    <div class="pt-4 heading-3 f-wm">
        {{label}}
    </div>
    <div class="pt-3 px-2 mt-3px">
        <fa-icon [icon]="arrowIcon" class="heading-2 tc-s">
        </fa-icon>
    </div>
    <div class="pt-3 px-2 mt-3px mt-05">
        {{goalTitle}}
    </div>
    <!-- <div class="ml-auto pt-3 ">
        <button class=" btn-sm-r b-p">
            <fa-icon [icon]="editIcon" class="heading-5 tc-w pr-1">
        </fa-icon></button>
    </div> -->
</div>
