<div class="d-flex m-auto ">
    <div class="box m-4 b-p">
        BG
    </div>
    <div class="box m-4 b-pl">
        BG
    </div>
    <div class="box m-4 b-s">
        BG
    </div>
    <div class="box m-4 b-sl">
        BG
    </div>
    <div class="box m-4 b-b">
        BG
    </div>
    <div class="box m-4 b-g">
        BG
    </div>
    <div class="box m-4 b-gl">
        BG
    </div>
</div>

<div class="d-flex">
    <div class="border">
        <div class="heading-3 p-2 tc-p">
            Button
        </div>

        <div>
            <button class="btn-n m-4 b-p">
                Normal
            </button>
        </div>
        <div>
            <button class="btn-mr m-4 b-p">
                Medium
            </button>
        </div>

        <div>
            <button class="btn-sr m-4 b-s">
                Semi Round
            </button>
        </div>
        <div>
            <button class="btn-r m-4 b-s">
                R
            </button>
        </div>
    </div>

    <div class="p-3 border">
        <div class="tc-g p3">
            Borders
        </div>
        <div class="box m-4 b1 bc-b">
            b1 bc-b
        </div>
        <div class="box m-4 b3 bc-p">
            b3 bc-p
        </div>
        <div class="box m-4 b5 bc-s">
            b5 bc-s
        </div>
    </div>

        <div class="p-3 border">
            <div class="tc-g p3">
              Input
            </div>
            <div class=" m-4 ">
               <div class="g-form">
                   <label for="" class="tc-p t-10">First Name</label>
                   <input type="text" class="b2 bc-p tc-b t-15" placeholder="First Name"/> 
               </div>
            </div>
                        <div class=" m-4 ">
                            <div class="g-form">
                                <label for="" class="tc-p t-10">First Name</label>
                                <input type="date" class="b2 bc-p tc-b t-15" placeholder="First Name" />
                            </div>
                        </div>
                    <div class=" m-4 ">
                        <div class="g-form">
                            <label for="" class="tc-s t-10">First Name</label>
                            <input type="text" class="b2 bc-s tc-b t-15" placeholder="First Name" />
                            <div class="b2 bc-s tc-s p-2
                            ">
                                Errror
                            </div>
                        </div>
                    </div>
        </div>
    <div class="border">
        <div class=" m-4 t-40">
            heading-1
        </div>
        <div class=" m-4 t-35">
            heading-2
        </div>
        <div class=" m-4 t-30">
            Heading 3
        </div>
        <div class=" m-4 t-25">
            heading-4
        </div>
        <div class=" m-4 t-20">
            heading-5
        </div>
        <div class=" m-4 t-15">
            heading-5
        </div>
        <div class=" m-4 t-10">
            heading-6
        </div>

    </div>
    <div>
        <div class="border">

            <div class=" m-4 t-20 f-wb">
                f-wb
            </div>
            <div class=" m-4 t-20 f-wm">
                f-wm
            </div>
            <div class=" m-4 t-20 f-wr">
                f-wr
            </div>
            <div class=" m-4 t-20 f-wl">
                f-wl
            </div>
            <div>

            </div>


        </div>