<app-loader [id]=" 'signUp' "></app-loader>

<app-header label="SIGN UP"></app-header>

<div class="b3 bc-p div-box-shadow m-auto signUp b-l">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class=" m-4 ">
            <div class="g-form signUpForm">
                <label for="" class="tc-p t-10">Name</label>
                <input type="text" class="b2 bc-p tc-b t-15" placeholder="Enter Name"
                    [ngClass]=" {'bc-s': (f.name.touched && f.name.invalid), 'b1': (f.name.touched && f.name.invalid)}"
                    formControlName="name" />
                <div *ngIf="f.name.touched && f.name.invalid" class="b1 bc-s tc-s p-2 inputErrorBox">
                    <div *ngIf="f.name.errors.required" class="tc-s heading-5">Name is required</div>
                </div>
            </div>
        </div>

        <div class=" m-4 ">
            <div class="g-form signUpForm">
                <label for="" class="tc-p t-10">Mobile No</label>
                <input type="text" class="b2 bc-p tc-b t-15" placeholder="Enter Mobile No" formControlName="mobile"
                    [ngClass]=" {'bc-s': (f.mobile.touched && f.mobile.invalid), 'b1': (f.mobile.touched && f.mobile.invalid)}" />
                <div *ngIf="f.mobile.touched && f.mobile.invalid" class="b1 bc-s tc-s p-2 inputErrorBox">
                    <div *ngIf="f.mobile.errors.required" class="tc-s heading-5">Mobile No is required</div>
                     <div *ngIf="f.mobile.errors.minlength" class="tc-s heading-5">Add Minimum 10 digit</div>

                </div>
            </div>
        </div>
        <div class=" m-4 ">
            <div class="g-form signUpForm">
                <label for="" class="tc-p t-10">Email</label>
                <input type="text" class="b2 bc-p tc-b t-15" placeholder="Enter Email" formControlName="email"
                    [ngClass]=" {'bc-s': (f.email.touched && f.email.invalid), 'b1': (f.email.touched && f.email.invalid)}" />
                <div *ngIf="f.email.touched && f.email.invalid" class="b1 bc-s tc-s p-2 inputErrorBox">
                    <div *ngIf="f.email.errors.required" class="tc-s heading-5 ">Email is required</div>
                                        <div *ngIf="f.email.errors.email" class="tc-s heading-5 ">Email  is invalide</div>


                </div>
            </div>
        </div>
        <div class=" m-4 ">
            <div class="g-form signUpForm">
                <label for="" class="tc-p t-10">Password</label>
                <input type="password" class="b2 bc-p tc-b t-15" placeholder="Enter Password" formControlName="password"
                    [ngClass]=" {'bc-s': (f.password.touched && f.password.invalid), 'b1': (f.password.touched && f.password.invalid)}" />
                <div *ngIf="f.password.touched && f.password.invalid" class="b1 bc-s tc-s p-2 inputErrorBox">
                    <div *ngIf="f.password.errors.required" class="tc-s  heading-5 ">Password is required</div>
                </div>
            </div>

        </div>

        <div class="m-auto text-center">
            <button type="submit" class="btn-sr m-4 b-p t-15 f-wm letter-space-1" [disabled]="!form.valid">
                SIGN UP
            </button>
        </div>


    </form>


</div>