/* You can add global styles to this file, and also import other style files */
.toolbar {
}
$theme-color : #37afe5;
.custom_label{
    font-size: 0.6em;
    color: $theme-color;
}
.custom_input{
font-size: 1em;
    color: #37afe5;
    border-color: #03A9F4;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .toolbar .desktop {
    display: none !important;
  }
}
@media only screen and (max-width: 600px) {
  .toolbar .desktop {
    display: none !important;
  }
  .home {
    display: block !important;
  }
  .home__feature_box {
    display: block !important;
  }
  .home_banner {
    display: block !important;
  }
  .home__feature_menu {
    padding: 10px;
    background: white;
    border-radius: 4px;
    margin: 10px;
    width: 200px !important;
    padding-left: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .home__feature_box {
    display: block !important;
  }
  .home_banner {
    display: block !important;
  }
  .home_header2 {
    color: #676363;

    width: 100% !important;
  }
  .home__feature {
    margin: 15% 0px !important;

    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  }
  .home__feature_menu {
    padding: 10px;
    background: white;
    border-radius: 4px;
    margin: 10px;
    width: 200px !important;
    padding-left: 25px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .toolbar .desktop {
    display: flex !important;
  }
  .m-menu-icon {
    display: none !important;
  }
  .home_header2 {
    color: #676363;

    width: 100% !important;
  }
  .home__feature {
    margin: 15% 0px !important;

    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .toolbar .mobile {
    display: none !important;
  }
  .m-menu-icon {
    display: none !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .toolbar .desktop {
    display: flex !important;
  }
  .m-menu-icon {
    display: none !important;
  }
}
